<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>축제 목록</title>
	<link rel="stylesheet" type="text/css" href="/header.css">
	<link rel="stylesheet" type="text/css" href="/festival_List.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/weather.js"></script>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
	<h1 style="text-align: center; margin: 30px;">축제 목록</h1>
	<form action="festivalList" method="get" class="d-flex mb-3">
		<select name="month" class="form-select" aria-label="Default select example" style="width: 50%; margin-right: 10px">
			<option value="">전체</option>
			<option th:each="month : ${#numbers.sequence(1, 12)}"
					th:value="${month}" th:text="${month} + '월'"></option>
		</select>
		<button type="submit" class="btn btn-outline-secondary">조회</button>
	</form>
	<table class="festival-table">
		<thead>
		<tr>
			<th>제목</th>
			<th>시작일</th>
			<th>종료일</th>
			<th>저장</th>
			<th:block th:if="${session.loginMember != null}">
				<th:block th:if="${session.loginMember.id == 'admin'}">
			<th>삭제</th>
				</th:block>
			</th:block>
		</tr>
		</thead>
		<tbody>
		<tr th:each="festival : ${festivals}">
			<td>
				<a th:href="@{'/festival_Detail?ftNum=' + ${festival.ftNum}}" th:text="${festival.title}"></a>
			</td>
			<td th:text="${festival.startdate}"></td>
			<td th:text="${festival.enddate}"></td>

			<td>
				<form id="saveForm" action="saveFestival" method="post" class="d-inline-block">
					<input type="hidden" name="ftNum" th:value="${festival.ftNum}">
					<button type="submit" class="btn btn-success saveBtn">저장</button>
				</form>
			</td>
			<th:block th:if="${session.loginMember != null}">
				<th:block th:if="${session.loginMember.id == 'admin'}">
			<td>
				<form action="deleteFT" method="post" class="d-inline-block">
					<input type="hidden" name="ftNum" th:value="${festival.ftNum}">
					<button type="submit" class="btn btn-danger saveBtn">삭제</button>
				</form>
			</td>
				</th:block>
			</th:block>
		</tr>
		</tbody>
	</table>
	<nav aria-label="Page navigation" th:if="${not #lists.isEmpty(festivals)}">
		<ul class="pagination justify-content-center">
			<li class="page-item">
				<a class="page-link" th:if="${currentPage > 1}" th:href="@{'/festivalList?page=' + ${currentPage - 1} + '&month=' + ${month}}">이전</a>
			</li>
			<li class="page-item" th:each="page: ${#numbers.sequence(1, totalPages)}">
				<a class="page-link" th:href="@{'/festivalList?page=' + ${page} + '&month=' + ${month}}">[[${page}]]</a>
			</li>
			<li class="page-item">
				<a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/festivalList?page=' + (${currentPage + 1}) + '&month=' + ${month}}">다음</a>
			</li>
		</ul>
	</nav>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
	$(document).ready(function() {
		// 페이지가 로드될 때 전체 축제 목록을 먼저 보여줍니다.
		loadFestivals(null);

		// select 변경 시
		$('select[name="month"]').change(function() {
			var month = $(this).val();
			loadFestivals(month);
		});

		// 축제 목록 로드
		function loadFestivals(month) {
			$.ajax({
				url: '/festivals', // 변경된 URL로 수정
				type: 'GET',
				data: { month: month },
				success: function(response) {
					$('.container').html($(response).find('.container').html());
				},
				error: function(xhr, status, error) {
					console.error('Error:', error);
				}
			});
		}
	});
</script>
</body>
</html>
