<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body>
<div class="login-container">
	<form action="memberLogin" method="post">
            <input type="text" class="input-field" name="id" placeholder="아이디"><br>
            <input type="text" class="input-field" name="pw" placeholder="비밀번호" ><br>
            <div class="check">
            </div>
            <button type="submit" class="login-btn">로그인</button>
            <a href="sign" class="signup-link">회원가입</a>
     </form>
     </div>
</body>
</html>