<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
    <link rel="stylesheet" type="text/css" href="/memberList.css">
    <link rel="stylesheet" type="text/css" href="/header.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/weather.js"></script>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1>회원목록</h1>
    <table>
        <thead>
        <tr>
            <th>아이디</th>
            <th>비밀번호</th>
            <th>이메일</th>
            <th>가입일자</th>
            <th>권한</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member, stat : ${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.pw}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.regdate}"></td>
            <td>
                <!-- 권한 설정 드롭다운 -->
                <select name="authority" id="authority" onchange="changeAuthority(this)">
                    <option value="USER" >사용자</option>
                    <option value="ADMIN" >관리자</option>
                </select>
            </td>
            <td>
                <button>수정</button>
            </td>
            <td>
                <!-- 삭제 폼 -->
                <form action="memberlist_delete" method="post">
                    <input type="hidden" name="userNum" th:value="${member.userNum}">
                    <input type="submit" value="삭제">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
