<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/member_update.css">
</head>
<body>
<div class="container">
    <form action="member_update" method="post">
        <input type="hidden" name="userNum" th:value="${member.userNum}">
        <table>
            <tr>
                <td>아이디</td>
                <td><input type="text" name="id"
                           th:value="${member.id}" readonly></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="text" name="pw"
                           th:value="${member.pw}"></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="text" name="email"
                           th:value="${member.email}"></td>
            </tr>
        </table>
        <input type="submit" class="member-upd" value="저장">
    </form>
    <form action="member_delete" method="post">
        <input type="hidden" name="userNum" th:value="${member.userNum}" >
        <input type="submit"  class="member-del" value="회원탈퇴">
    </form>
</div>
</body>
</html>